

/* Section page css */
.section{
    display: flex;
}


.price .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.price .shadow {
    box-shadow: 0 5px 10px #535da1;
}
.price .shadow span{
    color: #000;
}
.price .outline-btn {
    margin: 0;
    box-shadow: none;
    border: 2px solid #1eb2a6;
    width: 100%;
    transition: 0.5s;
}  
.price .items {
    padding: 40px;
    text-align: center;
  }
  .price h1 {
    font-size: 50px;
    margin: 20px 0;
    color: #1eb2a6;
  }
  .price h1 span {
    font-size: 20px;
    margin-right: 5px;
    color: #000;
  }
  .price p {
    color: grey;
    margin: 40px 0;
  }
  /*--------------faq-------------*/
  .faq .container {
    max-width: 70%;
    border-radius: 5px;
  }
  .faq .box {
    background-color: #fff;
    margin-bottom: 20px;
  }
  .faq h2 {
    font-weight: 500;
  }
  .faq p {
    padding: 20px;
  }
  .faq .accordion:hover {
    background-color: #1eb2a6;
    color: #fff;
  }
  .price h1 span{
    font-size: 45px;
    margin: 20px 0;
    text-transform: capitalize;
    color: rgba(103, 15, 234, 0.883);

  }
  .dollar{
    font-size: 45px;
    margin: 20px 0;
    text-transform: capitalize;
    color: #000;
  }
  
  /*--------------faq-------------*/
  @media screen and (max-width: 968px){
  .price .grid {
      grid-template-columns: repeat(1, 1fr);
  }
  .price h1 span{
    font-size: 35px;
    margin: 20px 0;
    text-transform: capitalize;
    color: rgba(103, 15, 234, 0.883);

  }
}